@use './Scss/abstracts';
@use './Scss/components';

* {
    box-sizing: border-box;
}

a, ul, li {
    text-decoration: none;
    list-style: none;
}

body {
    background: rgb(123,143,162);
    background: linear-gradient(0deg, rgba(123,143,162,1) 22%, rgba(98,99,99,1) 100%);
}
