@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=PT+Sans:wght@400;700&family=Rubik:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Merriweather', serif;
		background-color: rgb(77, 76, 75);
	}
}

@layer components {
	.serif-font {
		font-family: 'Merriweather', serif;
	}
	.sans-font {
		font-family: 'Kanit', sans-serif;
	}
	.button {
		@apply rounded-lg p-1 px-3 m-2 bg-neutral-900 text-neutral-100 border-[1px];
	}
	.background {
		background-image: url('assets/blandAbstractBackground2.png');
		background-size: cover;
	}
}
