@use '../abstracts';


.forcast-container {
    background-color: antiquewhite;
    padding: 0.5rem;

    .forcast-data {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        margin: 0 30px;
        
        .forcast-block {
            display: flex;
            flex-direction: column;
    
            .show-weather-icon {
                width: 60px;
                height: 60px;
            }
        }
    }
}