

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .search-input {
        width: 80%;
        max-width: 600px;
        padding: 1rem;
    }
}